---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">ChatGPT</span>
    <span class="gpt-subtitle">WEB</span>
  </div>
  <p mt-1 op-60>基于OpenAI最新gpt-3.5-turbo API，服务器响应更快，效果更好。ChatGPT请求需付费，默认由本站提供，
                本站免费使用,用户可以免费访问，但速度较慢可能会被限制使用。                              
                本站也提供chatgpt原生账号，购买账号后可以享受更快的服务。
                购买账号请联系微信号：w155197074或者加入我们的QQ群组：335088851。
                您的支持是对我们最大的鼓励</p>
 </header>
